img.profile-pic {
  padding-right: 1.5em;
  max-height: 200px;
  border-radius: 100%;
}

div.inline {
  display: flex;
  flex-direction: row;
}

/*
div.inline>* {
  margin: 56px auto;
}
*/

div.inline>div {
  flex: 1;
}
