html {
  min-height: 100%;
  font-family: Ubuntu, sans-serif; 
  background-color: #EEE;
  text-rendering: optimizeLegibility;
}

a:hover {
  color: rgb(22, 121, 121);
}

.inline-elements>*{
  display: inline;
}

a, h1, h2, h3, h4{
  color: #004545;
  font-weight: 500;
}

h2 {
  margin: 10px 0 0 0;
}

div.preview img {
  float: left;
  margin: 10px 20px 10px 0;
  display: inline;
}

/*
div.content h2 {
  margin: 10px 0 10px 0;
}
*/

div.preview p {
  display: inline;
  margin: auto auto 1.5em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 10px;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

div.header {
  border-bottom: solid 1px;
  background-color: rgb(245,245,245);
  border-color: rgba(0, 0, 0, 0.117647);
  min-height: 70px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

div.header>div.right {
  margin: 0 auto;
  flex: 1;
}

div.header>div {
  height: 100%;
  padding-left: 10px;
}

div.header>div.right>div {
  float: right;
}

div.header>div>div {
  display: inline-block;
  height: 100%;
  padding-right: 30px;
}

div.name a {
  font-size: 30px;
}

div.name .caption {
  margin-top: 5px;
}

.strong {
  font-weight: 700;
}

.vertical-space {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
}

.header-item {
  font-size: 20px;
}

div.header>div>div {
  margin: 0 auto;
}

div.header>div>div>a.selected {
  /*color: rgb(63, 81, 181);*/
  border-bottom: solid 2px rgb(255, 128, 171) ;
}

h2.title {
  margin-bottom: 0px;
}

div.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
}

div.content {
  flex: 1;
  padding-top: 56px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(245,245,245);
  font-size: 16px;
  line-height: 33px;
}

div.info-table {
  display: table;
  border-collapse: collapse;
  border-radius: 5px;
}

div.row div { display: table-cell;
  vertical-align: top;
  border: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
}

div.row pre {
  margin: 0px;
}


.caption {
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 16px;
  color: #50505A;
  display: block;
}

.inline>* {
  display: inline;
}

.inline-caption {
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 16px;
  color: #50505A;
  display: inline;
}

.contact-bar a:hover {
  color: #50505A;
}

.contact-bar a {
  color: #e1e1dc;
}

div.left {
  display: flex;
}

div.contact-bar a {
  margin-left: 5px;
}

div.contact-bar {
  padding-top: 5px;
}
