{% extends "base.html" %}
{%  block content %}
<h2> Using Tmux to Speed up Productivity in the Linux Shell</h2>

<div class="expand">
	<div>
		<img src="/static/images/tmux-panes.png"></img>
		<span class='caption'>Terminal multiplexing in action</span>
	</div>
</div>
<p>
Tmux (Terminal Multiplexer) is a great open source utility for managing multiple virtual terminal instances within a single window.  
	Similar to <a href="https://www.gnu.org/software/screen">GNU Screen</a>, Tmux supports the creation of persistant terminal sessions that can be detached from without destroying what is running in the shell.

	Tmux supports easy splitting of terminal windows into multiple panes, a functionality that is somewhat clunky using Screen.
</p>

<!-- insert some image of multiplexed terminal here -->
<h3> Installion (Apt/Yum) </h3>
<p>
Tmux is available from EPEL.  To install simply run <code> sudo apt-get tmux </code> or <code> sudo yum install tmux </code> depending on your OS.
</p>

<h3> Configuration </h3>
<p>
Tmux looks for user-defined configuration in <code>~/tmux.conf</code>.  As a Vim user, I like to add the following configuration:
</p>

<pre><code>bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R</code></pre>

<p>
This makes navigating panes similar to navigating Vim windows.
</p>

<h3> Usage </h3>
<p>
Simply invoke <code>tmux</code> to start a new session.
</p>

<div class='info-table'>
  <div class='row'>
  	<div> Create a new window </div>
	<div> <pre>Ctrl-b + c</pre></div>
  </div>
  <div class='row'>
  	<div> Switch between windows </div>
	<div> <pre>Ctrl-b + n / Ctrl-b + p</pre></div>
  </div>
  <div class='row'>
  	<div> Split the terminal vertically</div>
	<div> <pre>Ctrl-b + %</pre></div>
  </div>
  <div class='row'>
  	<div> Split the terminal horizontally</div>
	<div> <pre>Ctrl-b + "</pre></div>
  </div>
  <div class='row'>
  	<div> Navigate terminal panes </div>
	<div><pre>Ctrl-b + h / Ctrl-b + j / Ctrl-b + k / Ctrl-b + l </pre></div>
  </div>
  <div class='row'>
  	<div> Detach from a session</div>
	<div><pre>Ctrl-b + d</pre></div>
  </div>
  <div class='row'>
  	<div> Re-attach to a session</div>
	<div><pre>tmux attach-ses -s <i>session_name</i></pre></div>
  </div>
  <div class='row'>
  	<div> List active sessions</div>
	<div><pre>tmux list-ses</pre></div>
  </div>
  <div class='row'>
  	<div> Force kill a session by name</div>
	<div><pre>tmux kill-ses -s <i>session_name</i></pre></div>
  </div>
  <div class='row'>
  	<div> Create a named session</div>
	<div><pre>tmux new-ses -s <i>session_name</i></pre></div>
  </div>
</div>
<h3>A Note on scrolling through terminal history</h3>
<p>
  In order to enable scrolling through the terminal history of a tmux session, press <code>Ctrl-b + ]</code>
</p>
<h3>Fin</h3>
<p>
These are only a small subset of the available configuration options that Tmux ships with.  Check out the man page for more detailed documentation.
</p>
<p>
Happy 'muxing!
</p>
{% endblock %}
