<!--

Introduction:
  Thesis: Systemd is a powerful contender for robust software deployments

The example application:
  Angular SPA Application with NodeJS backend
  Nginx for reverse proxy and static content serving

Consideration: Automatic restart
Consideration: Aggregate logs via Journalctl

SystemD configuration
Nginx configuration
-->
{% extends "base.html" %}
{%  block content %}
<h2> Deploy robust NodeJS web applications using Nginx and Systemd</h2>
<span class='date'> March 6th, 2017 </span>
<p>
  Software deployment 
</p>

<h3>The Example Application</h3>
<p>
  The example application being deployed is <a href="https://github.com/jwasinger/material-dashboard">graphical single page dashboard</a> that uses NodeJS/Express.  Nginx, a common web server is used to efficiently serve static files for the application.  In order to help isolate (i.e. restrict permissions) for the NodeJS process, the server needs to bind to a non-restricted port.  However, the application also needs to be available on port 80 so that a user does not need to memorize a port number in addition to the site's host name. 
  
  Luckily, Nginx can solve this problem.  By configuring Nginx as a reverse proxy, all HTTP traffic can be forwarded from a non-restricted port (i.e. 1000+*) to port 80 (and vice versa).
</p>

<h3> Prerequisites </h3>
Root access to a machine (or VM) with Centos 7 installed .  I used <a href="/foo/bar">this</a> official image of a minimal release of Centos 7.3 for AWS.

<h3> Setting up the environment </h3>
<pre>
yum install -y epel-release 
yum update -y  
yum install -y git wget vim screen 
</pre>

Install NodeJS
<pre>
wget http://nodejs.org/dist/latest-v6.x/node-v6.10.0-linux-x64.tar.gz -P /tmp/ &&
tar --strip-components 1 -xzvf node-v6.10.0-linux-x64.tar.gz -C /usr/ &&
</pre>
Install NginX

<pre>
yum install -y nginx
/bin/cp /tmp/config/nginx/nginx.conf /etc/nginx/
</pre>

<pre>
systemctl start nginx &&
# Set up the user and directory for the NodeJS application
mkdir -p /app &&
useradd -d /app web-app &&
chown -R web-app:web-app /app &&
npm install -g bower bower-move &&
</pre>
<h3> Configuring Nginx </h3>
<p>
  The application is running.  However, what happens when it crashes?  Should the administrator need to manually restart the application process every time it goes down?
</p>
<p>
  Better yet: what can be done to gain insight on the cause of any issues that arise?  Having a log history in a terminal buffer is rudimentary and causes a restriction based on the size of the buffer.
</p>
<h3> Enter SystemD </h3>
<p>
  Both of these issues can be addressed by functionality provided by SystemD.  Automatic restart can be specified in configuration.
</p>
<p>
  Easy access to system logs is provided by Journalctl.  This utility provides the ability todo dynamic queries on the contents of logs for system and user processes.
</p>
<pre><code>
server { 
  listen 80; 
  server_name web-server;

  location / { 
    proxy_pass http://localhost:3000;
  }
}
</code></pre>

<h3>Thoughts</h3>
Expanding this example: Creating an automated deployment pipeline using AWS Codeploy.
{% endblock %}
