{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}


{% block content %}
  <div class='inline-elements'>
      <div class='inline'>
          <img class='profile-pic' src="/static/images/profile.jpeg">
          <div>
            <p>
              I have a passion for building software that will make the world a better place.  I enjoy solving difficult problems and challenging my perception of the world through learning.
            </p>
            <p>
              Feel free to contact me via <a class='strong' href="mailto:j-wasinger@hotmail.com">email</a>.
            </p>
          </div>
      </div>
  </div>
  <h1> Open Source Projects</h1>

  <h2> <a href="https://github.com/ethereumjs/ethereumjs-vm">Ethereum</a> </h2>
  <h2> <a href="https://github.com/hashicorp/consul">Hashicorp- Consul</a> </h2>

  <h1> Work Experience </h1>
  <h2> Symantec Corporation </h2>
  <span class='inline-caption'>Norton Site Reliability Engineering Intern</span>
  <span class='caption'>October 2015 - May 2017</span>
  <h2> Novatel Wireless </h2>
  <span class='inline-caption'>Software Development Intern</span>
  <span class='caption'>March 2015 - September 2015</span>
  <h2> Oregon State University</h2>
  <span class='inline-caption'>Student Software Developer</span>
  <span class='caption'>January 2014 - March 2015</span>
  <h1> Education </h1>
  <span class="strong"> Oregon State University - B.S. Computer Science</span>
  <span class="weak"> 2012 - December 2017 (Expected) </span>
  <p>
    Coursework including algorithms, data structures, Linux systems programming and a graduate-level computer graphics course.  Here are some of the projects I have worked on:
  </p>
  <ul style="margin-bottom: 0px;">
    <li> A software <a class="strong" href="https://github.com/jwasinger/jwasinger_engine">raytracer</a></li>
    <li > Solutions to classic <a class="strong" href="https://github.com/jwasinger/producer_consumer">concurrency problems</a> using Go</li>
  </ul>
{% endblock %}
