{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}


{% block content %}
  <div class='inline-elements'>
      <div class='inline'>
          <img class='profile-pic' src="/static/images/profile.jpeg">
          <div>
            <p>
            Hey, I'm Jared, an aspiring full stack software developer.  I'm from Eugene, OR and currently live in Corvallis, OR where I attend Oregon State University.  My non-tech interests include hiking, weightlifting, meditation and playing the violin.
            </p>
          </div>
      </div>
  </div>
  <h1> My Skills </h1>
  <h2> Web development </h2>
  <ul>
    <li>
      CSS3
    </li>
    <li>
      HTML5
    </li>
    <li>
      Javascript
    </li>
    <li>
      AngularJS - MVC
    </li>
    <li>
      jQuery
    </li>
    <li>
	  Building <a href="http://material-dashboard.jaredwasinger.com">graphical dashboards</a> using D3.js
    </li>
  </ul>
  <h2> Linux Systems </h2>
  <ul>
    <li>
    Web servers
    </li>
    <li>
    Vi/Vim
    </li>
    <li>
    Cron
    </li>
    <li>
    Configuring Firewall Rules with Iptables
    </li>
    <li>
    Securing server environments (linky)
    </li>
    <li>
    Deploying web applications using Nginx and Apache
    </li>
    <li>
    Scripting/automation using Bash
    </li>
  </ul>
  <h2> Amazon Web Services </h2>
  <ul>
  	<li>
	Deploying web applications reliant on common services such as EC2, S3, Route53
	</li>
	<li>
	Building application deployment pipelines using CodeDeploy.
	</li>
  </ul>
  <h2> Virtualization </h2>
  <ul>
    <li>
      Building automated development environments using Vagrant and Docker
    </li>
    <li>
      LXC Containers
    </li>
  </ul>

  <h1> Experience </h1>
  <h2> Symantec Corporation </h2>
  <ul>
    <li>Full-stack software development on tools to assist the operations of the Norton security platform.</li>
    <li>Provisioning and configuration of Linux web servers</li>
    <li>Designing and maintaining web search application to streamline access to internal documentation sources by SRE teams</li>
    <li>Scripted solution for categorization of re-occuring application alerts by host and datacenter</li>
  </ul>
  <h2> Novatel Wireless </h2>
  <ul>
    <li>
      Redesign of cusomter support live chat web interface to streamline response process.
    </li>
    <li>
      Use of Python to develop automated solution for re-organization of customer data sheets.
    </li>
    <li>
      Contribution of rich, interactive frontend features for customer-facing IoT device management SaaS application.
    </li>
  </ul>
  <h2> Oregon State University</h2>
    Application development designing tools to improve 
	Frontend development 

  <h1> Education </h1>
  <span class="strong"> Oregon State University - B.S. Computer Science</span>
  <span class="weak"> 2012 - August 2017 (Expected) </span>
  <p>
    Coursework included algorithms, datastructures, Linux systems programming and a graduate-level computer graphics course (where I built a <a class="strong" href="https://github.com/jwasinger/jwasinger_engine/">raytracer</a>
  </p>
{% endblock %}
