{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}


{% block content %}
  <div class='img-container'>
    <img src="/static/images/profile.jpeg">
  </div>

  <h1> Who I am </h2>
  Hey, I'm Jared, an aspiring full stack software developer.  I'm from Eugene, OR and currently live in Corvallis, OR where I attend Oregon State University.  My non-tech interests include hiking, weightlifting, meditation and playing the violin.

  <h1> My Skills </h1>
  <h2> Web development </h2>
  CSS
  HTML
  Javascript
  AngularJS - MVC
  D3.js - Creating colorful, animated graphs
  <h2> Software Development </h2>
    Web Scrapers
	Web backends - NodeJS/PHP/Django
  <h2> Linux Systems </h2>
    Web servers
	Vi/Vim
	Cron
	Configuring Firewall Rules with Iptables
	Securing server environments (linky)
	Deploying web applications using Nginx and Apache
	Scripting/automation using Bash
  <h2> Public Cloud Computing </h2>
  	Amazon Web Services - Setting up automated deployment pipeline
	Microsoft Azure
	Terraform - Capturing cloud infrastracture as code
  <h2> Configuration Management Tools </h2>
    Puppet -
  <h2> Virtualization </h2>
    Building robust Vagrant development environments
	Approximating multi-node software systems with Docker

  <h1> Experience </h1>
  <h2> Symantec Corporation </h2>
  <p>
    Full-stack software development on tools to assist the operations of the Norton security platform.  Provisioning and configuration of Linux web servers in a cloud environment.
  </p>
  <h2> Novatel Wireless </h2>
    Frontend development building rich, interactive web components and user interfaces.
	Automation of manual tasks using Python and Bash scripting.
  <h2> Oregon State University</h2>
    Application development designing tools to improve 
	Frontend development 

  <h1> Education </h1>
  <span class="strong"> Oregon State University - B.S. Computer Science</span>
  <span class="weak"> 2012 - August 2017 (Expected) </span>
  <p>
    Coursework included algorithms, datastructures, Linux systems programming and a graduate-level computer graphics course (where I built a <a href="https://github.com/jwasinger/jwasinger_engine/">raytracer</a>
  </p>
{% endblock %}
