<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel='stylesheet' type="text/css" href="/static/css/base.css">  
    <link rel='stylesheet' type="text/css" href="/static/css/blog.css">  
    <link rel='stylesheet' type="text/css" href="/static/css/footer.css">  
    <link rel='stylesheet' type="text/css" href="/static/css/font-awesome/font-awesome.min.css">  
    <!-- <link rel='stylesheet' type="text/css" href="/static/css/bundle.css"> -->
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class='container'>
      <div class='inner-container'>
        <div class='header'>
          <div class='name'>
            <a href="/"><span class="strong">Jared Wasinger</span></a>
            <span class='caption'>Software Developer</span>
            <div class='contact-bar'>
              <a href="mailto:j-wasinger@hotmail.com"><i class='fa fa-envelope'></i></a>
              <a href="https://github.com/jwasinger"><i class='fa fa-github'></i></a>
              <a href="https://www.linkedin.com/in/jared-wasinger-757067104"><i class='fa fa-linkedin-square'></i></a>
            </div>
          </div>
          <div class='right'>
            <div>
              <a class="strong header-item" href="/about">About</a>
            </div>
            <div>
              <a class="strong header-item" href="/blog">Blog</a>
            </div>
          </div>
        </div>
        <div class='content'>
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <footer>
        <a href="mailto:j-wasinger@hotmail.com"><i class='fa fa-envelope'></i></a>
        <a style="margin: 0 8px 0 8px;href="https://github.com/jwasinger"><i class='fa fa-github'></i></a>
        <a href="https://www.linkedin.com/in/jared-wasinger-757067104"><i class='fa fa-linkedin-square'></i></a>
      </footer>
    </div>
  </body>
</html>
