<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type="text/css" href="/static/css/base.css">  
    <link rel='stylesheet' type="text/css" href="/static/css/blog.css">  
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <div class='name'>
          <a href="/"><span class="strong">Jared Wasinger</span></a>
        </div>
        <div class='right'>
          <div>
            <a href="/">Home</a>
          </div>
          <div>
            <a href="/about">About</a>
          </div>
          <div>
            <a href="/blog">Blog</a>
          </div>
        </div>
      </div>
      <div class='content'>
        {% block content %}
        {% endblock %}
      </div>
      <footer>
        &nbsp;
      </footer>
    </div>
  </body>
</html>
