{% extends 'base.html' %}
{% block head %}
  <link rel='stylesheet' type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block content %}
  <!--
  <div class='blog-post'>
    <h2> <a href="/blog/nodejs_app_on_systemd">Deploying NodeJS Applications on Centos7 using Nginx and SystemD</a></h2>
    <span class='caption'> March 28th, 2017 </span>
	<div class='preview'>
		<img style="max-width: 150px;" src="/static/images/nodejs-logo.png" align="left"></img>
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo eros, tincidunt in enim molestie, eleifend facilisis urna. Suspendisse facilisis cursus quam vitae ultrices. Mauris nec tellus risus. Donec malesuada urna metus, vehicula commodo nisl mattis a. Morbi sit amet aliquam dui. Donec cursus egestas nibh in congue. Nunc finibus felis vitae congue mollis. Nunc sed magna at sem sollicitudin aliquam. Donec consectetur risus nisl, et gravida mauris placerat placerat.
    </p>
	</div>
  </div>
  -->
  <div class='blog-post'>
    <h2 class='title'> <a href="/blog/tmux_tutorial">Using Tmux to Speed up Productivity in the Linux Shell</a></h2>
    <span class='caption'> February 20th, 2017 </span>
    <div class='preview'>
      <img style="max-width: 150px; display: inline-block;" src="/static/images/tmux-logo.png" align="left"></img>
      <p>
        Tmux (Terminal Multiplexer) is a great open source utility for managing multiple virtual terminal instances within a single window.  Similar to <a href="https://www.gnu.org/software/screen">GNU Screen</a>, Tmux supports the creation of persistant terminal sessions that can be detached from without destroying what is running in the shell. Tmux supports easy splitting of terminal windows into multiple panes, a functionality that is somewhat clunky using Screen.
      </p>
    </div>
  </div>

  <div class="strong vertical-space"> More coming soon... </div>
{% endblock %}
