{% extends 'base.html' %}
{% block head %}
  <link rel='stylesheet' type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block content %}
  <div class='blog-post'>
    <h2> <a href="/blog/nodejs_app_on_systemd">Deploying a NodeJS web application using SystemD</a></h2>
    <span class='italic'> February 20th, 2017 </span>
    <p>Technical opinions aside, Systemd has quickly become one of the most common init systems for popular Linux distributions.  By providing a handy set of utilities such as Journald (for logging) and (...), Systemd makes it incredibly easy to deploy and manage software. ...</p>
  </div>
  <div class='blog-post'>
    <h2> <a href="/blog/nodejs_app_on_systemd">Hello Internet!</a></h2>
    <span class='italic'>February 1st, 2017</span>
    <p>Hello world! ...</p>
  </div>
{% endblock %}
