{% extends 'base.html' %}
{% block head %}
  <link rel='stylesheet' type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block content %}
  <div class='blog-post'>
    <h2> <a href="/blog/nodejs_app_on_systemd">Deploying a NodeJS web application using SystemD</a></h2>
    <span class='italic'> February 20th, 2017 </span>
    <p>Technical opinions aside, Systemd has quickly become one of the most common init systems for popular Linux distributions.  By providing a handy set of utilities such as Journald (for logging) and (...), Systemd makes it incredibly easy to deploy and manage software. ...</p>
  </div>
  <div class='blog-post'>
    <h2> <a href="/blog/nodejs_app_on_systemd">Hello Internet!</a></h2>
    <span class='italic'>February 1st, 2017</span>
    <p>Hello world! ...</p>
    <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id volutpat turpis. Proin accumsan ultricies mi et lobortis. Donec in magna quis dui faucibus tempor. Nullam faucibus est vel elit finibus, id tempus massa vehicula. Fusce mauris velit, posuere vitae molestie vel, semper id augue. Maecenas sit amet egestas lorem, ac malesuada ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan nisi eu velit eleifend lobortis. Integer auctor sodales mattis. Proin bibendum, ipsum sit amet commodo ornare, eros neque pellentesque purus, vitae accumsan diam urna vel dolor. Nullam posuere et nibh nec lacinia. Ut interdum commodo cursus. Cras lacinia, diam sed fringilla ultricies, dui lorem condimentum lacus, quis congue lorem dui quis massa. In pretium consectetur scelerisque. Mauris a enim tortor. Pellentesque interdum, nisi vitae ultrices faucibus, nulla ante maximus eros, sed eleifend nibh ex sit amet dui.

    Praesent euismod neque at ex finibus sagittis. Duis consectetur, lectus sit amet porta consectetur, leo quam euismod ante, sit amet dignissim mauris ex eget mauris. Nulla cursus urna metus, et auctor nunc vestibulum non. Proin metus lectus, fermentum non felis non, aliquam viverra lectus. Sed ac lacinia justo, vel maximus leo. Cras bibendum turpis ac turpis sollicitudin consequat. Donec sodales, sem in mattis eleifend, tellus dolor pulvinar dui, ac rhoncus tellus libero quis ex. Vestibulum id arcu sit amet libero consequat rutrum. Nulla facilisi. Duis sed leo pulvinar, ullamcorper enim non, tincidunt velit. Nam ligula mauris, tincidunt in eleifend convallis, eleifend eu tellus.

    Proin commodo, lacus et sagittis viverra, risus sem ornare leo, at aliquam nulla lectus in dui. Donec orci massa, blandit id fringilla ac, pretium sed ipsum. Aenean id cursus eros. Curabitur ut volutpat magna. Praesent luctus quam eget ullamcorper ullamcorper. Cras sit amet tempus orci, non suscipit neque. Pellentesque iaculis ante eget lectus feugiat sagittis.

    Nulla ultrices egestas maximus. Pellentesque malesuada ex elementum lectus volutpat, eget feugiat nibh ultricies. Nulla facilisi. Cras in maximus sem, at sagittis orci. Ut hendrerit justo eget ex bibendum porttitor. In nec metus tellus. Nulla tincidunt mi eu imperdiet feugiat. Phasellus lobortis porttitor luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    Sed lorem odio, lobortis et ex sit amet, bibendum gravida orci. Nulla facilisi. Sed interdum ornare dui eu lobortis. Donec est sapien, varius sed dignissim at, sollicitudin sed odio. Curabitur id risus nec leo sagittis rutrum. Integer eget sapien et purus consequat commodo. Morbi in magna rutrum, consectetur justo ac, finibus odio. Mauris lobortis ut tellus sed consequat. Nunc vehicula feugiat varius.

    </p>
  </div>
{% endblock %}
